<div>
  <div we-sidebar id="sidebar">
    <a we-sidebar-header isotype="assets/images/gas.png">
      name
    </a>
    <ul class="sidebar-list">
      <li><a
            ui-sref="pred1"
            ui-sref-active="option-sidebar-selected"
            we-sidebar-link
            icon="bar-chart">LSTM</a>
      </li>
      <li><a
              ui-sref="pred2"
              ui-sref-active="option-sidebar-selected"
              we-sidebar-link
              icon="bar-chart">Medias Móviles</a>
      </li>
      <li><a
              ui-sref="pred3"
              ui-sref-active="option-sidebar-selected"
              we-sidebar-link
              icon="bar-chart">M.M Ponderadas</a>
      </li>
    </ul>
  </div>
</div>
